{{ define "main" }}
<div class="post-list">
    <ul>
        {{ range where .Pages.ByPublishDate.Reverse ".Params.hidden" false }}
        <li>
            {{ $dateTime := .PublishDate.Format "2006-01-02" }}
            {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2" }}
    
            <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>   
            <a href="{{ .RelPermalink }}">
                <span>{{ .Title }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}