{{ define "main" }}
<div class="post">
    <h1>{{ .Title }}</h1>
    <div class="metadata">
        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        <time datetime="{{ $dateTime }}" style>{{ .PublishDate.Format $dateFormat }}</time>
        <p >{{ .ReadingTime }} mins</p>
    </div>     

    {{ .Content }}

    {{ if or .NextInSection .PrevInSection }}
    <div class="pagination">
        <span class="separator">Read more content</span>
        {{ if .NextInSection }}
        <a class="item-left" href="{{ .NextInSection.Permalink }}">
            <span>← {{ .NextInSection.Title }}</span>
        </a>
        {{ end }}
        {{ if .PrevInSection }}
        <a class="item-right" href="{{ .PrevInSection.Permalink }}">
            <span>{{ .PrevInSection.Title }} →</span>
        </a>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}