<footer>
    <hr>
    <div class="rows">
        <div class="cols">
            <a href="{{.Site.BaseURL }}">Home</a>
            <a href="{{.Site.BaseURL }}/posts">Posts</a>
        </div>
        <div class="cols">
            <a href="{{.Site.BaseURL }}/now">Now</a>
            <a href="{{.Site.BaseURL }}/index.xml">RSS</a>
        </div>
        <div class="cols">
            <a href="https://github.com/DB-Vincent" target="_blank">GitHub</a>
            <a href="https://linkedin.com/in/vincent-de-borger" target="_blank">LinkedIn</a>
        </div>
    </div>
    <span>© 2023 Vincent De Borger</span>
</footer>
