{{ define "main" }}
{{ partialCached "index/introduction.html" . }}


<span class="subtitle">Projects</span>
{{ range (where .Site.RegularPages "Type" "projects") }}
<a href="{{ .RelPermalink }}">
    <article>
        <h2>{{ .Title }}</h3>
        <p>{{ .Params.description }}</p>
    </article>
</a>
{{ end }}

<span class="subtitle">Recent posts</span>
{{ range first 5 (where ( where .Site.Pages.ByDate.Reverse "Type" "posts" ) ".Params.hidden" false) }}
<a href="{{ .RelPermalink }}">
    <article>
        <h2>{{ .Title }}</h3>
        <p>{{ .Params.excerpt }}</p>
    </article>
</a>
{{ end }}

{{ end }}