{{ define "main" }}
{{ partialCached "index/introduction.html" . }}


<!-- {{ range (where .Site.RegularPages "Type" "projects") }}
<a href="{{ .RelPermalink }}">
    <article>
        <h2>{{ .Title }}</h3>
        <p>{{ .Params.description }}</p>
    </article>
</a>
{{ end }} -->

<div class="post-list">
    <span class="subtitle">Projects</span>
    <ul>
        {{ range (where .Site.RegularPages "Type" "projects") }}
        <li>
            {{ $dateTime := .PublishDate.Format "2006-01-02" }}
            {{ $dateFormat := .Site.Params.dateFormat | default "2006" }}
    
            <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>   
            <a href="{{ .RelPermalink }}">
                <span>{{ .Title }}</span>
                <p>{{ .Params.description }}</p>
            </a>
            
        </li>
        {{ end }}
    </ul>
</div>

<div class="post-list">
    <span class="subtitle">Recent posts</span>
    <ul>
        {{ range first 5 (where ( where .Site.Pages.ByDate.Reverse "Type" "posts" ) ".Params.hidden" false) }}
        <li>
            {{ $dateTime := .PublishDate.Format "2006-01-02" }}
            {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2" }}
    
            <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>   
            <a href="{{ .RelPermalink }}">
                <span>{{ .Title }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</div>

{{ end }}